<div class="admin-sidebar" [class.collapsed]="collapsed">
  <div class="sidebar-header">
    <h5 *ngIf="!collapsed">Admin Panel</h5>
    <i *ngIf="collapsed" class="bi bi-gear-fill"></i>
  </div>

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li *ngFor="let item of menuItems" class="nav-item">
        <a [routerLink]="item.route" routerLinkActive="active" class="nav-link">
          <i [class]="'bi ' + item.icon"></i>
          <span *ngIf="!collapsed">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
